# Flask>=2.0          # For creating the HTTP endpoint

boto3>=1.28      # AWS SDK for Python
python-dotenv>=0.19 # To load environment variables locally (optional for Vercel deployment)
requests>=2.25      # To make requests to TMDB API
     
# --- Pinned versions for compatibility with Amazon Linux 2 GCC 7.3.1 ---
numpy==1.26.4           # Included as pandas/sklearn dependency, but good to list
pandas==2.2.2           # For data handling
scikit-learn==1.4.2     # For TF-IDF and cosine similarity

# gunicorn>=20.0     # For running the app in Cloud Run